USE [TOT_NGHIEP_CSDL]
GO
/****** Object:  Table [dbo].[graduationtype]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graduationtype](
	[code] [varchar](10) NOT NULL,
	[certificatename] [nvarchar](50) NULL,
	[classification] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graduationreviewperiod]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graduationreviewperiod](
	[code] [varchar](10) NOT NULL,
	[date] [date] NULL,
	[name] [nvarchar](50) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graduatedstudent]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graduatedstudent](
	[code] [varchar](10) NOT NULL,
	[studentcode] [varchar](10) NULL,
	[departmentcode] [varchar](10) NULL,
	[periodcode] [varchar](10) NULL,
	[gradepointaverage] [float] NULL,
	[accumulatedcredit] [int] NULL,
	[creditrequirement] [int] NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[receiptreceivinggraduation]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[receiptreceivinggraduation](
	[code] [varchar](10) NOT NULL,
	[datereceived] [date] NULL,
	[graduatedstudentcode] [varchar](10) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graduationpointtable]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graduationpointtable](
	[graduatedstudentcode] [varchar](10) NOT NULL,
	[markcode] [varchar](10) NOT NULL,
	[subjectscode] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[graduatedstudentcode] ASC,
	[markcode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[graduationforstudent]    Script Date: 04/09/2018 21:14:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[graduationforstudent](
	[code] [varchar](10) NOT NULL,
	[codeview] [varchar](10) NULL,
	[graduatedstudentcode] [varchar](10) NULL,
	[graduationtypecode] [varchar](10) NULL,
	[receiveridnumber] [varchar](10) NULL,
	[receivername] [nvarchar](50) NULL,
	[receiptcode] [varchar](10) NULL,
	[note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK__graduated__depar__173876EA]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduatedstudent]  WITH CHECK ADD FOREIGN KEY([departmentcode])
REFERENCES [dbo].[department] ([code])
GO
/****** Object:  ForeignKey [FK__graduated__perio__182C9B23]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduatedstudent]  WITH CHECK ADD FOREIGN KEY([periodcode])
REFERENCES [dbo].[graduationreviewperiod] ([code])
GO
/****** Object:  ForeignKey [FK__graduated__stude__164452B1]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduatedstudent]  WITH CHECK ADD FOREIGN KEY([studentcode])
REFERENCES [dbo].[student] ([code])
GO
/****** Object:  ForeignKey [FK__graduatio__gradu__25869641]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationforstudent]  WITH CHECK ADD FOREIGN KEY([graduatedstudentcode])
REFERENCES [dbo].[graduatedstudent] ([code])
GO
/****** Object:  ForeignKey [FK__graduatio__gradu__267ABA7A]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationforstudent]  WITH CHECK ADD FOREIGN KEY([graduationtypecode])
REFERENCES [dbo].[graduationtype] ([code])
GO
/****** Object:  ForeignKey [FK__graduatio__recei__276EDEB3]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationforstudent]  WITH CHECK ADD FOREIGN KEY([receiptcode])
REFERENCES [dbo].[receiptreceivinggraduation] ([code])
GO
/****** Object:  ForeignKey [FK__graduatio__gradu__2C3393D0]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationpointtable]  WITH CHECK ADD FOREIGN KEY([graduatedstudentcode])
REFERENCES [dbo].[graduatedstudent] ([code])
GO
/****** Object:  ForeignKey [FK__graduatio__markc__2D27B809]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationpointtable]  WITH CHECK ADD  CONSTRAINT [FK__graduatio__markc__2D27B809] FOREIGN KEY([markcode])
REFERENCES [dbo].[mark] ([code])
GO
ALTER TABLE [dbo].[graduationpointtable] CHECK CONSTRAINT [FK__graduatio__markc__2D27B809]
GO
/****** Object:  ForeignKey [FK__graduatio__subje__2E1BDC42]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[graduationpointtable]  WITH CHECK ADD FOREIGN KEY([subjectscode])
REFERENCES [dbo].[subjects] ([code])
GO
/****** Object:  ForeignKey [FK__receiptre__gradu__20C1E124]    Script Date: 04/09/2018 21:14:47 ******/
ALTER TABLE [dbo].[receiptreceivinggraduation]  WITH CHECK ADD FOREIGN KEY([graduatedstudentcode])
REFERENCES [dbo].[graduatedstudent] ([code])
GO
